# exportPattern("^[[:alpha:]]+")
export(computeMCA)
export(getGeneRate)
export(doRegression)
export(computeScore)

import(tictoc)
import(RcppArmadillo)

importFrom(Rcpp,sourceCpp)
importFrom(irlba,irlba)
importFrom(matrixStats,rowVars)
importFrom(stringr,str_length)

useDynLib(PaaSc, .registration = TRUE)
