# exportPattern("^[[:alpha:]]+")
export(computeMCA)
export(getGeneRate)
export(doRegression)
export(computeScore)
export(doBinarization)
export(calculateMI)
export(calculateSpatialMI)

import(CelliD)
import(mixtools)
